[Unit]
Description=WAZN Pool RPC Daemon
After=network.target

[Service]
User=pool
Group=pool

Type=simple
ExecStart=/usr/local/bin/wazn-wallet-cli --rpc-bind-ip=127.0.0.1 --rpc-bind-port=11787 --wallet=/etc/pool --password=wallet_password

Restart=always

[Install]
WantedBy=multi-user.target
