[Unit]
Description=WAZN Pool RPC Daemon
After=network.target

[Service]
User=pool
Group=pool

Type=simple
ExecStart=/path/to/coin/wallet-rpc --rpc-bind-ip=127.0.0.1 --rpc-bind-port=11787 --wallet=/path/to/wallet --password=your.wallet.password!

Restart=always

[Install]
WantedBy=multi-user.target
