[Unit]
Description=WAZN CORE
After=network.target

[Service]
User=pool
Group=pool
WorkingDirectory=~
RuntimeDirectory=pool

Type=forking
PIDFile=/run/pool/waznd.pid

ExecStart=/usr/local/bin/waznd --rpc-bind-ip 0.0.0.0 --confirm-external-bind --config-file /etc/waznd.conf \
    --detach --pidfile /run/pool/waznd.pid

Restart=always

[Install]
WantedBy=multi-user.target
