[Unit]
Description=WAZN Pool Service
After=network.target

[Service]
User=pool
Group=pool
WorkingDirectory=/var/wazn-pool/pool

Type=simple
SyslogIdentifier=wazn-pool
ExecStart=/usr/bin/node init.js

Restart=always

[Install]
WantedBy=multi-user.target
