[Unit]
Description=WAZN POOL
After=network.target

[Service]
User=pool
Group=pool
WorkingDirectory=/path/to/your/wazn-nodejs-pool/pool

Type=simple
SyslogIdentifier=wazn-nodejs-pool
ExecStart=/usr/bin/node init.js

Restart=always

[Install]
WantedBy=multi-user.target
