[Unit]
Description=Wazn Pool
After=network.target

[Service]
User=pool-user
Group=pool-user
WorkingDirectory=/path/to/your/pool

Type=simple
SyslogIdentifier=pool
ExecStart=/usr/bin/node init.js -config=wazn.json

Restart=always

[Install]
WantedBy=multi-user.target
