[Unit]
Description=Mining Pool Service
After=network.target

[Service]
Type=simple
Restart=always
SyslogIdentifier=wazn-nodejs-pool
ExecStart=/usr/bin/node init.js

# Change to the location of wazn-node-js-pool
WorkingDirectory=/path/to/your/wazn-nodejs-pool/pool

# Set user and group that will run the pool
User=pool
Group=pool

[Install]
WantedBy=multi-user.target
