[Unit]
Description=Wazn RPC
After=network.target

[Service]
User=pool-user
Group=pool-user

Type=simple
ExecStart=/path/to/wazn/wazn-wallet-rpc --rpc-bind-ip=127.0.0.1 --rpc-bind-port=5432 --wallet=/path/to/wallet --password=your.wallet.password!

Restart=always

[Install]
WantedBy=multi-user.target
